In [1]:
!pip install requests

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests) (1.24.1)

In [2]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from BeautifulSoup4) (1.8)

In [3]:
from requests import get
from requests.exceptions import RequestException
from contextlib import closing
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
res = get("https://www.the-numbers.com/movies/year/2019")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
Data = pd.read_html(str(table))

In [5]:
if len(Data)==1:
    for d in Data: data=d

In [6]:
data

,ReleaseDate,Movie,Genre,ReleaseType,Revenueto Date,Trailer
0,"January, 2019","January, 2019","January, 2019","January, 2019","January, 2019","January, 2019"
1,January 1,American Illuminati 2,Documentary,Video,$0,NaN
2,NaN,Eonni,Drama,Theatrical,"$1,558,387",NaN
3,NaN,First Lady,Drama,Video,$0,NaN
4,NaN,My Secret Valentine,Drama,Video,"$52,331",NaN
5,NaN,State Like Sleep,Drama,Video,"$4,282",NaN
6,NaN,"Very, Very, Valentine",Drama,Video,"$40,507",NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,January 2,The Comeback Kid,Romantic Comedy,Video,"$2,047",NaN
9,NaN,Escape Room,Thriller/Suspense,Theatrical,"$148,710,705",Play
10,NaN,Pray TV,Drama,Video,"$1,463",NaN
11,NaN,PremiÃ¨res vacances,Comedy,Theatrical,"$3,492,817",NaN
12,NaN,NaN,NaN,NaN,NaN,NaN
13,January 3,How to Train Your Dragon: The Hidden …,Adventure,Theatrical,"$480,580,571",Play
14,NaN,Piercing,Horror,Theatrical,"$146,772",NaN
15,NaN,A Tramway in Jerusalem,Drama,Theatrical,$0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,January 4,American Hangman,Thriller/Suspense,Theatrical,$0,NaN
18,NaN,Araf 2,Horror,Theatrical,"$269,764",NaN
19,NaN,Being Rose,Drama,Theatrical,$0,NaN
20,NaN,BekarlÄ±Äa Feda,NaN,Theatrical,"$11,575",NaN
21,NaN,Fantastica,Comedy,Theatrical,"$19,403",NaN
22,NaN,Four Springs,Documentary,Theatrical,"$1,561,731",NaN
23,NaN,Love Live! Sunshine!! The School Idol…,Musical,Theatrical,"$7,654,377",NaN
24,NaN,Masha i Medved 3,Adventure,Theatrical,"$617,347",NaN
25,NaN,Memorias de un hombre en pijama,Romantic Comedy,Theatrical,"$12,276",NaN
26,NaN,NTR: Kathanayakudu,Drama,Theatrical,"$78,419",NaN
27,NaN,Rust Creek,Thriller/Suspense,Theatrical,$0,NaN
28,NaN,THE DOORS -50.th Anniversary Celebration,Comedy,Theatrical,"$13,529",NaN
29,NaN,The Vanishing,Thriller/Suspense,Theatrical,"$428,938",NaN
...,...,...,...,...,...,...
1114,NaN,Deep Murder,Comedy,Theatrical,$0,NaN
1115,NaN,Diecisiete,NaN,Video,$0,NaN
1116,NaN,Eli,Horror,Video,$0,NaN
1117,NaN,Elisa y Marcela,Drama,Theatrical,$0,NaN
1118,NaN,First Ladies,Comedy,Video,$0,NaN
1119,NaN,Fracture,Thriller/Suspense,Video,$0,NaN
1120,NaN,Harriet,Drama,Theatrical,$0,NaN
1121,NaN,In The Tall Grass,Horror,Video,$0,NaN
1122,NaN,The Irishman,Drama,Video,$0,NaN
1123,NaN,Kaiju no Kodomo,Adventure,Theatrical,$0,NaN
1124,NaN,The King,NaN,Video,$0,NaN
1125,NaN,The Last Summer,Comedy,Video,$0,NaN
1126,NaN,The Laundromat,Drama,Video,$0,NaN
1127,NaN,The Lodge,Horror,Theatrical,$0,NaN
1128,NaN,Lucy in the Sky,Drama,Theatrical,$0,NaN
1129,NaN,Mike Wallace is Here,Documentary,Theatrical,$0,NaN
1130,NaN,A Million Little Pieces,Drama,Theatrical,$0,NaN
1131,NaN,Normal People,Drama,Theatrical,$0,NaN
1132,NaN,Official Secrets,Thriller/Suspense,Theatrical,$0,NaN
1133,NaN,Papi Chulo,Comedy,Theatrical,$0,NaN
1134,NaN,The Red Sea Diving Resort,Drama,Video,$0,NaN
1135,NaN,Saving ZoÃ«,Drama,Theatrical,$0,NaN
1136,NaN,Scary Stories,Documentary,Theatrical,$0,NaN
1137,NaN,See You Yesterday,NaN,Video,$0,NaN
1138,NaN,SÃ©rgio,Drama,Video,$0,NaN
1139,NaN,Simple Wedding,Romantic Comedy,Theatrical,$0,NaN
1140,NaN,Sound of Freedom,Action,Theatrical,$0,NaN
1141,NaN,Torrance,Drama,Theatrical,$0,NaN
1142,NaN,Troop Zero,NaN,Theatrical,$0,NaN
1143,NaN,Untitled Lucille Ball Biopic,Drama,Theatrical,$0,NaN

In [7]:
data=data.drop(['ReleaseDate'], axis=1)
data=data.drop(['Trailer'], axis=1)
data=data.drop(['Genre'], axis=1)

In [8]:
for col in data.columns:            #removes any row with missing data
    data=data[data[col]!='$0']
data=data[~data.ReleaseType.str.contains("2019", na=False)]
data.dropna(how='all')

                                        Movie ReleaseType Revenueto Date
2                                       Eonni  Theatrical     $1,558,387
4                         My Secret Valentine       Video        $52,331
5                            State Like Sleep       Video         $4,282
6                       Very, Very, Valentine       Video        $40,507
8                            The Comeback Kid       Video         $2,047
9                                 Escape Room  Theatrical   $148,710,705
10                                    Pray TV       Video         $1,463
11                        PremiÃ¨res vacances  Theatrical     $3,492,817
13     How to Train Your Dragon: The Hidden …  Theatrical   $480,580,571
14                                   Piercing  Theatrical       $146,772
18                                     Araf 2  Theatrical       $269,764
20                           BekarlÄ±Äa Feda  Theatrical        $11,575
21                                 Fantastica  Theatrical        $19,403
22                               Four Springs  Theatrical     $1,561,731
23     Love Live! Sunshine!! The School Idol…  Theatrical     $7,654,377
24                           Masha i Medved 3  Theatrical       $617,347
25            Memorias de un hombre en pijama  Theatrical        $12,276
26                         NTR: Kathanayakudu  Theatrical        $78,419
28   THE DOORS -50.th Anniversary Celebration  Theatrical        $13,529
29                              The Vanishing  Theatrical       $428,938
30                             Zabawa, Zabawa  Theatrical     $2,307,885
32                                  Da Ren Wu  Theatrical    $56,040,680
33                 Mult v. Kino Vypusk No. 88  Theatrical        $39,211
36                           Bai She: Yuan Qi  Theatrical    $66,652,780
37                   The Car: Road to Revenge       Video        $11,669
40                               The Last Boy       Video         $1,728
42                                   Rockaway       Video         $3,501
45                         A Dogâs Way Home  Theatrical    $78,165,052
47                                     Malmoi  Theatrical    $21,128,002
48                            Naeaneui Geunom  Theatrical    $14,569,310
..                                        ...         ...            ...
713                                  KuToppen  Theatrical       $105,918
714                   LadrÃµes de Tuta e Meia  Theatrical        $46,437
715                         Lao Gong Qu Na Le  Theatrical       $101,613
716                                     Marid  Theatrical        $32,176
717                              Marnies Welt  Theatrical        $14,017
718                 Mere Pyare Prime Minister  Theatrical         $1,411
719                             Milan Talkies  Theatrical         $1,437
720                                Mon bÃ©bÃ©  Theatrical     $1,970,220
721                               The Mustang  Theatrical       $321,989
724                        No Manches Frida 2  Theatrical     $6,626,279
725                                Off Season  Theatrical         $2,536
726                               Out of Blue  Theatrical        $17,682
728                                    Pimped  Theatrical         $2,176
729            Precure Miracle Universe Movie  Theatrical     $2,227,766
730              The Professor and the Madman  Theatrical       $114,494
731                                  Rebelles  Theatrical     $2,228,765
733             RISE: The Story of Augustines  Theatrical        $11,291
734                 Rocca verÃ¤ndert die Welt  Theatrical       $485,933
735                            Shao Nu Su She  Theatrical       $154,252
736                          SklenÄnÃ½ pokoj  Theatrical       $375,210
737                     SokaÄÄ±n ÃocuklarÄ±  Theatrical         $1,995
739                                 Trautmann  Theatrical       $539,045
740                                     Trust  Theatrical           $800
741                      TÃ¼rk Ä°Åi Dondurma  Theatrical       $356,862
742                               Wonder Park  Theatrical    $33,777,304
743                            Yang Tai Shang  Theatrical       $514,709
746                Mult v. Kino Vypusk No. 93  Theatrical        $53,216
760                             Song of Youth  Theatrical     $1,070,000
774                               Highway 318  Theatrical         $4,230
776                                        Us  Theatrical    $70,250,000

[531 rows x 3 columns]

In [9]:
s = "https://www.the-numbers.com/movies/year/"

D = pd.DataFrame()

for y in range(1980,2020):
    
    print(y)
    string=s+str(y)
    
    res = get(string)
    soup = BeautifulSoup(res.content,'lxml')
    table = soup.find_all('table')
    Data = pd.read_html(str(table))
    
    if len(Data)==1:
        for d in Data: df=d
    
    df=df.drop(['ReleaseDate'], axis=1)
    df=df.drop(['Trailer'], axis=1)
    df=df.drop(['Genre'], axis=1)

    for col in df.columns:            #removes any row with missing data
        df=df[df[col]!='$0']
    df=df[~df.ReleaseType.str.contains(str(y), na=False)]
        
    D=pd.concat([D,df])

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [10]:
D.dropna(how='all')

                                   Movie ReleaseType Revenueto Date
1                          Atlantic City  Theatrical    $10,000,000
2                       The Black Marble  Theatrical     $2,500,000
3                               Cruising  Theatrical    $19,784,223
4                        Dressed to Kill  Theatrical    $31,899,000
5                  The Hollywood Knights  Theatrical    $10,000,000
6    How to Beat the High Co$t of Living  Theatrical     $7,500,000
7                     The Mirror Crack'd  Theatrical    $11,000,000
8                        Willie and Phil  Theatrical     $4,400,000
10                        The Changeling  Theatrical    $12,000,000
11                          Die Laughing  Theatrical     $4,000,000
12                      The Exterminator  Theatrical     $5,000,000
13                   The Final Countdown  Theatrical    $56,647,800
14                        Foolin' Around  Theatrical     $2,000,000
15                             Hangar 18  Theatrical    $11,000,000
16                        Hardly Working  Theatrical    $18,000,000
17                   Herbie Goes Bananas  Theatrical    $17,000,000
18                             Hopscotch  Theatrical    $13,000,000
19                            The Hunter  Theatrical    $16,647,800
20           In Search of Historic Jesus  Theatrical    $22,000,000
21                          It's My Turn  Theatrical    $11,000,000
22                    Lion of the Desert  Theatrical     $1,500,000
23                                Maniac  Theatrical    $10,000,000
24                      Middle Age Crazy  Theatrical    $13,000,000
25                      The Mountain Men  Theatrical     $6,000,000
26                           The Octagon  Theatrical    $19,000,000
27                              Saturn 3  Theatrical     $9,000,000
28                                 Simon  Theatrical     $6,000,000
29                          Terror Train  Theatrical     $8,000,000
30                              Tom Horn  Theatrical     $9,000,000
31                            Windwalker  Theatrical    $18,000,000
..                                   ...         ...            ...
713                             KuToppen  Theatrical       $105,918
714              LadrÃµes de Tuta e Meia  Theatrical        $46,437
715                    Lao Gong Qu Na Le  Theatrical       $101,613
716                                Marid  Theatrical        $32,176
717                         Marnies Welt  Theatrical        $14,017
718            Mere Pyare Prime Minister  Theatrical         $1,411
719                        Milan Talkies  Theatrical         $1,437
720                           Mon bÃ©bÃ©  Theatrical     $1,970,220
721                          The Mustang  Theatrical       $321,989
724                   No Manches Frida 2  Theatrical     $6,626,279
725                           Off Season  Theatrical         $2,536
726                          Out of Blue  Theatrical        $17,682
728                               Pimped  Theatrical         $2,176
729       Precure Miracle Universe Movie  Theatrical     $2,227,766
730         The Professor and the Madman  Theatrical       $114,494
731                             Rebelles  Theatrical     $2,228,765
733        RISE: The Story of Augustines  Theatrical        $11,291
734            Rocca verÃ¤ndert die Welt  Theatrical       $485,933
735                       Shao Nu Su She  Theatrical       $154,252
736                     SklenÄnÃ½ pokoj  Theatrical       $375,210
737                SokaÄÄ±n ÃocuklarÄ±  Theatrical         $1,995
739                            Trautmann  Theatrical       $539,045
740                                Trust  Theatrical           $800
741                 TÃ¼rk Ä°Åi Dondurma  Theatrical       $356,862
742                          Wonder Park  Theatrical    $33,777,304
743                       Yang Tai Shang  Theatrical       $514,709
746           Mult v. Kino Vypusk No. 93  Theatrical        $53,216
760                        Song of Youth  Theatrical     $1,070,000
774                          Highway 318  Theatrical         $4,230
776                                   Us  Theatrical    $70,250,000

[27209 rows x 3 columns]